

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="website icon" href="/static/img/IMG_20240214_170152.jpg">
    <title>Kalam</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="bodykalam">
    <p style="text-align: right;"><a href="/" style=" color: rgb(246, 8, 8); text-decoration:none;">بازگشت </a></p>
    {% for i in kalam %}
    <div style="background-color: rgb(3, 110, 240);width: 300px;height:300px;;overflow-wrap: break-word; text-align: justify;float: right;" class="">
        <p style='margin:2px; text-align: right;font-size: 25px;' class="">{{i.name}}</p>
            {{i.chat}}
        </p>
        <br>
        <p class="">{{i.date}}</p>
        <p class="" >{{i.tag}}</p>
    </div>
    {% endfor %}

</body>
</html>